@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
  background-color: #181a20;
  font-family: "Roboto", sans-serif;
}
h1 {
  text-align: center;
  font-size: 24px;
}
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  flex-wrap: wrap;
}
.refresh-button {
  background-color: #fcd536;
  border: none;
  color: black;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s;
}
.refresh-button:hover {
  background-color: #fcd536;
}
table {
  width: 100%;
  border-collapse: collapse;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}
th,
td {
  padding: 12px;
  text-align: left;
  border-bottom: 0.5px solid #2c2f3e;
}
th {
  font-weight: bold;
}
tr:hover {
  background-color: #2c2f3e;
}
.positive {
  color: #0ecb81;
}
.negative {
  color: #f6465d;
}
.crypto-icon {
  width: 24px;
  height: 24px;
  vertical-align: middle;
  margin-right: 10px;
}

@media screen and (max-width: 600px) {
  body {
    padding: 10px;
  }
  h1 {
    font-size: 20px;
  }
  .header-container {
    flex-direction: column;
    align-items: stretch;
  }
  .refresh-button {
    width: 100%;
    margin: 10px 0;
  }
  table,
  thead,
  tbody,
  th,
  td,
  tr {
    display: block;
  }
  thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }
  tr {
    margin-bottom: 15px;
    border: 1px solid #ccc;
  }
  td {
    border: none;
    position: relative;
    padding-left: 50%;
  }
  td:before {
    position: absolute;
    top: 6px;
    left: 6px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
    content: attr(data-label);
    font-weight: bold;
  }
}

/* text color */
h1,
th,
td,
#countdown {
  color: #eaecef;
}
